.navbar{
    position: absolute;
width: 1170px;
height: 55px;
left: 135px;
top: 40px;
}
.first{
    position: absolute;
width: 254px;
height: 36px;
left: 135px;
top: 49px;

font-family: 'Ubuntu';
font-style: italic;
font-weight: 700;
font-size: 26px;
line-height: 36px;
color: #FB3F6C;
}
.second{
    position: absolute;
width: 67px;
height: 18px;
left: 508px;
top: 59px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;

color: #747582;
}

.third{
    position: absolute;
width: 60px;
height: 18px;
left: 616px;
top: 59px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;

color: #747582;
}
.fourth{
    position: absolute;
width: 56px;
height: 18px;
left: 711px;
top: 59px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;

color: #868181;
}
.fifth{
    position: absolute;
width: 81px;
height: 18px;
left: 801px;
top: 59px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;

color: #747582;
}

.sixth{
    position: absolute;
width: 34px;
height: 18px;
left: 929px;
top: 59px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;

color: #747582;
}
.seventh{
    position: absolute;
width: 79px;
height: 18px;
left: 1023px;
top: 59px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;

color: #747582;
}

.eigth{
    position: absolute;
width: 79px;
height: 18px;
left: 1023px;
top: 59px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;

color: #747582;
}

.sentence{
    position: absolute;
width: 319px;
height: 18px;
left: 175px;
top: 205px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;

color: #F17216;
}

.sentence2{
    position: absolute;
width: 646px;
height: 160px;
left: 135px;
top: 249px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 58px;
line-height: 80px;
/* or 138% */

letter-spacing: 0.02em;

color: #282C4B;

}

.sentence3{
    position: absolute;
width: 561px;
height: 108px;
left: 135px;
top: 434px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 36px;
/* or 180% */


color: #747582;
}

.button1{
    position: absolute;
width: 210px;
height: 68px;
left: 135px;
top: 612px;

background: linear-gradient(97.32deg, #FF698D -3.47%, #FB3F6C 108.43%);
border: 2px solid rgba(255, 255, 255, 0.8);
box-shadow: 0px 30px 50px rgba(168, 22, 75, 0.15);
border-radius: 192px;
color: white;
}

.button2{
    position: absolute;
    width: 254px;
    height: 21px;
    left: 409px;
    top: 643px;
    
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    
    letter-spacing: 0.02em;
    
    color: #282C4B;
}